# -*- mode: sh -*-

VER=1.19-alpine

#
# This removes any Docker containers that might be left if TA shuts down
# abruptly.
#

docker stop ta-static || :
docker rm -f ta-static || :

#
# Run container interactively: if stopped TA will take care to restart it.
#
exec docker run \
     --name ta-static --tty --interactive \
     --publish "127.0.0.1:44446:80/tcp" \
     --volume $BASE_DIR/../src/static:/usr/share/nginx/html:ro \
     nginx:$VER
