# -*- mode: sh -*-

VER=12-alpine

#
# This removes any Docker containers that might be left if TA shuts down
# abruptly.
#

docker stop -t0 pg || :
docker rm -f pg || :

#
# Run interactively
#

mkdir -p $TA_DATA_DIR/pg

exec docker run \
     --name pg --tty --interactive \
     --publish 127.0.0.1:44447:5432/tcp \
     --volume $TA_DATA_DIR/pg:/var/lib/postgresql/data \
     -e POSTGRES_HOST_AUTH_METHOD=trust \
     -e POSTGRES_USER=ta \
     -e POSTGRES_PASSWORD=tapassword \
     postgres:$VER
